# Build Tools
.yml
.gradle
build
target
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### docker ###

# Others
*.log
*.xml.versionsBackup
*.swp

own-*

!*/build/*.java
!*/build/*.html
!*/build/*.xml
